// Importieren von benötigten Stilen
@import 'style';
@import 'modale';

// Grundlegende UL-Stile
ul {
  list-style-type: none;
}

 





// Hauptcontainer
.main { 
  padding-top: 59px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 992px) {
    padding-top: 175px;  // Oder einen anderen gewünschten Wert
  }
}

div.category>ul {
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}


// Listenelemente in der Kategorie
.category li {
  cursor: pointer;  
  background-color: $white;
  max-width: 1200px;
  margin: 0 auto;
  &:hover {
    background-color: #f0f0f0; // Ändert die Hintergrundfarbe beim Darüberfahren
  }
}


// Container für Name und Preis
.name-and-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .item-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .item-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary;
  }
}


// Body-Stile
.body {

  .category {
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;

    h2:first-of-type {
      margin-top: 40px;
    }


    h2,
    h4 {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 40px;
      text-align: center;
      text-transform: uppercase;
    }

    h4 {
      font-size: 1rem;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 300px; // Fixierte Breite
      height: 200px; // Fixierte Höhe
      border-radius: 5px;
      object-fit: cover; // Zuschneiden, um das Seitenverhältnis zu wahren
      margin-bottom: 40px;

      // Bei Bildschirmbreiten ab 992px
      @media (min-width: 992px) {
        width: 400px; // Neue Breite
        height: 300px; // Neue Höhe
      }

      // Bei Bildschirmbreiten ab 1200px
      @media (min-width: 1200px) {
        width: 500px; // Neue Breite
        height: 400px; // Neue Höhe
      }
    }




    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid $light;
      border-radius: 5px;

      button {
        background-color: transparent;
      }

      i.fa-solid {
        background-color: transparent;
        color: $black;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 5px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $primary;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}